html,body {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-shadow: 1px 1px 1px  black;
    font-family: 'Muli',sans-serif !important;
    color: var(--text-color);
}

body a {
    color: var(--text-color);
}
.navToggle{
    line-height: 6vh;
    
}
:root {    
    --headers-background: #222831;
    --main-background: #393e46;
    --text-color: #eeeeee;
    --header-color:#ffd369;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #393e46;
}
::-webkit-scrollbar-thumb {
    background: #222831;
}
::-webkit-scrollbar-thumb:hover {
    background: #112831;
}
/* GENERIC */
.whiteText {
    color: white;
    text-decoration: none;
}

.fixedDiv {
    position: fixed;
}

.header {
    font-size: 6vh;
    color: var(--header-color);
    transition: all 1s;
    cursor: default;
}


.header2 {
    font-size: 4vh;
    color: white;
    /* margin-top: 8vh; */
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#header {
    grid-area: header;
    background-color: var(--headers-background);
    color: var(--header-color);
}


#main {
    grid-area: main;
    background-color: var(--main-background);
    overflow: auto;
}


#footer {
    grid-area: footer;
    background-color: var(--headers-background);
    cursor: default;
}

.navbar {
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 2vw;
    font-size: 2vh;
}

.hoverLink {
    text-decoration: none;
    margin-inline: 2vw;
    transition: all 1s;
}

.hoverLink:hover {
    transform: scale(1.1);
}


.flexImg {
    width: 50%;
}

.gotoDiv {
    color: rgb(109, 146, 100);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    transition: all 2s;
    font-size: 2vh;
}

.gotoDiv:hover {
    transform: scale(1.1);
}


.mainGrid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .6fr 5fr .4fr;
    grid-template-areas:
        'header header header header header'
        'main main main main main '
        'footer footer footer footer footer ';
}

#contentSubDiv {
    grid-area: content;
}

#contentMenu {
    grid-area: contentMenu;
}

.contentDiv {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* align-items: center; */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'contentMenu content '
        'contentMenu content ';
}

.contentDivNoMenu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.contentMenu {
    display: flex;
    /* position: relative; */
    height: 100%;
    width: 80%;
    font-size: 1.5em;
    margin: auto;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}

.inicioMenu {
    justify-content: center;
    line-height: 20vh;
}
/* * */

button{
    height: 4vh;
}
.resultRegex{
    display: inline;
}
.contentSubDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 60%; */
    /* align-items: flex-start; */
    /* margin: auto; */
}
.btnSubmit{
    width: 30%;
    height: 5vh;
    border-radius: 10px;

}

.contentSubDivNoMenu {
    width: 70%;
    margin: auto;
}
.testPlots{
    width: 70%;
}
/* .formDiv {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin: auto; */
    /* width: fit-content;
    padding: 0; */
    /* text-align: center; 
} */
.formSubDiv{
    text-align: left;
}

.formInput {
    margin: 2vh 0 2vh;
}

input {
    width: 30vw;
    line-height: 3vh;
}



.responseDiv {
    grid-area: response;
    height: fit-content;
}

.plotHeader {
    grid-area: plotheader
}
.plotButton {
    grid-area: plotbutton
}
.plotGrid {
    display: grid;
    width: 100%;
    height: fit-content;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 4fr 1fr;
    grid-template-areas:
        'plotheader'
        'response'
        'plotbutton';
}

label{
    font-size: 2vh;
}
@media screen and (max-width:900px) {
    .flexImg {
        width: 60%;
    }
    .navbar {
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }
    /* .navLink{
        display: none;
    } */
 
  
    input {
        width: 70vw;
        line-height: 3vh;
    }
    .mainGrid {
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: .7fr 6.3fr .5fr;
        grid-template-areas:
            'header header header header header'
            'main main main  main main'
            'footer footer footer footer footer';
    }
    .contentDiv{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        'contentMenu'
        'content';
    }
    .contentSubDiv{
        align-items: center;
    }
    /* .contentDivNoMenu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;
        grid-template-areas:
            'contentMenu '
            'content ';
    } */

    #testlinks {
        position: relative;
        display: flex;
        justify-content: space-around;
        font-size: 5vh;
    }

}