:root {
    --headers-background: #1c1e22;
    --main-background: #393e46;
    --text-color: black;
    --header-color: whitesmoke;
    --head-height: 5vh;
    --min-width-mobile: 320px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* background: #393e46; */
    background: whitesmoke;

}

::-webkit-scrollbar-thumb {
    background: #222831;
}

::-webkit-scrollbar-thumb:hover {
    background: #112831;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* text-shadow: 1px 1px 1px black; */
    width: 100vw;
    font-family: 'Muli', sans-serif !important;
    color: var(--text-color);
    box-sizing: border-box;
}

/* GRID CONFIG */
#head{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin: auto;
    overflow: auto;
 
}

#foot{
    /* grid-area:footer; */
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--headers-background);
    color: var(--header-color);
}

.mainGrid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr; /*repeat(auto-fit, minmax(.33 vw, 1fr));*/
    grid-template-rows: 96vh 4vh;
    grid-template-areas:
    'header'
    'footer';
}

#navbar{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,minmax(50%,100%));
    background-color: var(--headers-background);
    padding: 1vh 1em ;
    color: var(--header-color);
    font-size: 2.2vh;
}
#navbar a{
    text-decoration: none;
    color: var(--header-color);
    padding: .4em 1em;
    margin-inline-start: 1vw;
    /* border-radius: 1em; */

}

.navLogo{
   font-size: 1.1em;
   text-align: center;
   display: flex;
   justify-content: flex-start;
}

.navToggle{
    display: none;
}

.navLinks{ 
    display: flex;
    justify-content: flex-end;

}
#content{
    display: flex;
    flex-direction: column ;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 5vh;
}

.contentTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}


.scrapGrid{
    display: grid;
    gap: 4em;
}
.scrapMainDiv{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-mobile),1fr));
    align-items: center;
    gap: 4em;
}

.divInsideScrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.afdDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-mobile),1fr));
}
.divIntroducao{
    width: min(1200px,80%);
    margin: auto;
}
/* MISC */

.hoverLink{
    transition: all 1s ease-in-out;
}

.hoverLink:hover{
    background-color: #31343b;
}
.flexImg{
    width: 50%;
}
.bigImg{
    width: 25%;
}
.fas{
    font-size: 2em;

}
.rowHeaders > *{
    padding: 1vw;
}
/* MEDIA QUERIES (TRYING TO MINIMIZE IT) */ 
@media screen and (min-width: 850px){
    .scrapMainDiv{
        width: 70%;
    }
   

}

@media screen and (max-width: 850px){
    .flexImg{
        width: 100%;
    }
    .bigImg{
        width: 100%;
    }
    #navbar{
        align-items: center;
    }
    .navToggle{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .navLinks{
        flex-direction: column;
        text-align: center;
        row-gap: 2vh;
        padding-top: 2vh;
        grid-column: span 2 ;

    }
    .navLinks.hide{
        display: none;
    }
    
}