html,body {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    overflow: auto;
    text-shadow: 1px 1px 1px  black;
    font-family: 'Muli',sans-serif !important;
    color: var(--text-color);
}

body a {
    color: var(--text-color);
}

.navToggle{
    line-height: 6vh;
    display: none;
}
:root {
    --headers-background: #222831;
    --main-background: #393e46;
    --text-color: #eeeeee;
    --header-color: whitesmoke;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /* background: #393e46; */
    background: whitesmoke;

}
::-webkit-scrollbar-thumb {
    background: #222831;
}
::-webkit-scrollbar-thumb:hover {
    background: #112831;
}
/* GENERIC */
.whiteText {
    color: white;
    text-decoration: none;
}

.fixedDiv {
    position: fixed;
}

.header {
    font-size: 5vh;
    color: var(--header-color);
    transition: all 1s;
    cursor: default;
}


.header2 {
    font-size: 4vh;
    color: white;
    margin: 2em 0 0 ;
}
/* .item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */


#header {
    grid-area: header;
    background-color: var(--headers-background);
    color: var(--header-color);
}

#main {
    grid-area: main;
    background-color: var(--main-background);
    overflow: auto;
}


#footer {
    grid-area: footer;
    
    background-color: var(--headers-background);
    display: flex;

    /* margin-top: 10vh; */
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
}

.navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    font-size: 2vh;
    background: url('../img/codeWallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.navHead{
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    align-items: center;
}
.navTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.navMenu{
    display: flex;
    width: 50%;
    /* align-items: flex-end; */
    justify-content: flex-end;
    
}
.navLogo{
    display: flex;
    justify-content: flex-start;
    width:  50%;
}
.navLink{
    padding: 10px 0 10px;
    /* background: tomato; */
}
.hoverLink {
    text-decoration: none;
    margin-inline: 2vw;
    transition: all 1s;
}

.hoverLink:hover {
    transform: scale(1.1);
}


.flexImg {
    width: 50%;
    /* margin: 2em 0 0 ; */
}

.gotoDiv {
    color: rgb(109, 146, 100);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    transition: all 2s;
    font-size: 2vh;
}

.gotoDiv:hover {
    transform: scale(1.1);
}


.mainGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 40vh 55vh 5vh;
    grid-template-areas:
        'header header header header header'
        'main main main main main '
        'footer footer footer footer footer ';
}

#contentSubDiv {
    grid-area: content;
}

#contentMenu {
    grid-area: contentMenu;
}
.scrapEquipa{
    text-align: left;
}
.contentFlexDiv{
    display: flex;
    flex-direction: row;
}
.contentFlexDiv div{
    flex: 0 0 50%;   
}

.contentDivSplit {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* align-items: center; */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'contentMenu content '
        'contentMenu content ';
}

.contentDivNoMenu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto 0 auto;
}

.contentMenu {
    display: flex;
    /* position: relative; */
    height: 100%;
    width: 80%;
    font-size: 1.5em;
    margin: auto;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}

/* * */

button{
    height: 4vh;
}
.resultRegex{
    display: inline;
}
.contentSubDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* width: 60%; */
    /* align-items: flex-start; */
    /* margin: auto; */
}
.btnSubmit{
    width: 30%;
    height: 5vh;
    border-radius: 10px;

}

.contentSubDivNoMenu {
    width: 70%;
    margin: auto;
}

.formSubDiv{
    text-align: left;
}

.formInput {
    margin: 2vh 0 2vh;
}

input {
    width: 30vw;
    line-height: 3vh;
}

/* .responseDiv {

    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 70%;
    margin: auto;
 
} */
.divInfoLigaNOS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.divLigaNOS{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: flex-start;


}
.responseDiv{
    text-align: center;
}
.rowHeaders{
    font-size: 1.3rem;
}
.divPlotGold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

label{
    font-size: 2vh;
}

@media screen and (max-width:900px) {
    .contentFlexDiv{
        flex-direction: column;
    }
    .flexImg {
        width: 60%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navMenu{
        flex-direction: column;
    }
   .navToggle{
       display: flex;
   }
    .navLink.hide{
        display: none;
    }
    input {
        width: 70vw;
        line-height: 3vh;
    }
    .mainGrid {
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: .7fr 6.3fr .5fr;
        grid-template-areas:
            'header header header header header'
            'main main main  main main'
            'footer footer footer footer footer';
    }
    .contentDivSplit{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
        'contentMenu'
        'content';
    }
    .contentSubDiv{
        align-items: center;
    }
    .contentMenu{
    text-align: center;

    }
    /* .contentDivNoMenu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;
        grid-template-areas:
            'contentMenu '
            'content ';
    } */

    #testlinks {
        position: relative;
        display: flex;
        justify-content: space-around;
        font-size: 5vh;
    }

}