{% extends "index.html" %}
{% block content %}
<div class="contentDiv" id="main">
    <div class="contentMenu automatoMenu">
        <h1 class="header">Autómatos Finitos Determinísticos</h1>
        <h4>Validação de uma sequência binária</h4>
        <p>Introduza uma sequêcia binária que começe e acabe em 0.</p>
        <p>Na Teoria dos autômatos, um sub-tópico da Ciência da computação teórica, um autômato finito determinístico —
            também chamado máquina de estados finita determinística —
            é uma Máquina de estados finita que aceita ou rejeita cadeias de símbolos gerando um único ramo de
            computação para cada cadeia de entrada."</p>
    </div>

    <div class="contentSubDiv">
        <form action="/automato" method="POST" class="">
            <div class="formSubDiv">
                <div class="formInput">
                    <label for="sequencia">INSIRA A SEQUÊNCIA:</label><br><br><input type="text" name="sequencia"
                        id="sequencia">
                    {% if result %}
                    <h3 id="resultadoAutomato">{{result}}</h3>
                    {% endif %}
                </div>
            </div>
            <button class="btnSubmit" type="submit">Submit</button>
        </form>




    </div>
</div>
{% endblock%}