{% extends "index.html" %}

{% block content %}
<div class="contentDivNoMenu" id="main">
        <div class="contentSubDivNoMenu" > 
    
            <div id="divAutomatos">
                <h2 class="header2" id="titleAutomatos">Autómatos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra libero et nunc tristique ornare. Ut aliquet eros est, ac feugiat justo suscipit a. Phasellus molestie ultricies imperdiet. Phasellus varius quis mauris a ornare. Nam et rhoncus augue, posuere dapibus sem. Ut eu justo sit amet leo viverra porta sed in diam. Quisque interdum bibendum ligula, sit amet rhoncus purus aliquam blandit. Quisque at sapien lorem. Quisque sed dapibus diam. Fusce quis volutpat purus, viverra consequat turpis. Suspendisse id augue nec elit congue pulvinar a et tortor. Cras eget dictum urna. Nulla rhoncus consectetur orci eu dignissim.</p>
                <img class="flexImg"src="/static/img/automato.jpg" alt="automato.png">
            </div>
           
            <div id="divRegex">
                <h2 class="header2" id="titleRegex">Expressões Regulares + Regex</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra libero et nunc tristique ornare. Ut aliquet eros est, ac feugiat justo suscipit a. Phasellus molestie ultricies imperdiet. Phasellus varius quis mauris a ornare. Nam et rhoncus augue, posuere dapibus sem. Ut eu justo sit amet leo viverra porta sed in diam. Quisque interdum bibendum ligula, sit amet rhoncus purus aliquam blandit. Quisque at sapien lorem. Quisque sed dapibus diam. Fusce quis volutpat purus, viverra consequat turpis. Suspendisse id augue nec elit congue pulvinar a et tortor. Cras eget dictum urna. Nulla rhoncus consectetur orci eu dignissim.</p>
                <img class="flexImg"src="/static/img/regex.jpeg" alt="regex.jpeg">
            </div>
    
            <div id="divWebscrap">
                <h2 class="header2"id="titleWebscrap">WebScraping with BeautifulSoup4 - Python</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra libero et nunc tristique ornare. Ut aliquet eros est, ac feugiat justo suscipit a. Phasellus molestie ultricies imperdiet. Phasellus varius quis mauris a ornare. Nam et rhoncus augue, posuere dapibus sem. Ut eu justo sit amet leo viverra porta sed in diam. Quisque interdum bibendum ligula, sit amet rhoncus purus aliquam blandit. Quisque at sapien lorem. Quisque sed dapibus diam. Fusce quis volutpat purus, viverra consequat turpis. Suspendisse id augue nec elit congue pulvinar a et tortor. Cras eget dictum urna. Nulla rhoncus consectetur orci eu dignissim.</p>
                <img class="flexImg"src="/static/img/pythonBS4.png" alt="regex.jpeg">
            </div>
        </div> 
    
    
</div>
{% endblock %}
