{% extends "index.html" %}

{% block content %}

<div class="container-fluid bg-black " id="mainContainer">
    <div class="form-row padding">
        <div class="col-12 d-none d-lg-block my-5"></div>
        <div class="col-2 d-none d-lg-block text-center text-md-left mt-5 p-5 text-white"> 
        </div>
        <div class="col-12 col-md-7 text-center text-md-left mt-5 p-5 text-white">
            <h1 class="display-4 animate__animated animate__slideInRight" >Get fit & healthy.</h1>
            <p class="lead mb-5 animate__animated animate__slideInLeft">Start your bodyweight journey today!</p>
            <a href="/appA"><button class="btn btn-outline-light animate__animated animate__slideInUp">Learn More</button></a>
        </div>
    </div>
</div>

{% endblock %}